[submodule "third_party/postcard-rpc"]
	path = third_party/postcard-rpc
	url = https://github.com/konkers/postcard-rpc.git
[submodule "third_party/is31fl3731-async"]
	path = third_party/is31fl3731-async
	url = https://github.com/konkers/is31fl3731-async.git
[submodule "third_party/vite-plugin-wasm-pack"]
	path = third_party/vite-plugin-wasm-pack
	url = https://github.com/konkers/vite-plugin-wasm-pack.git
[submodule "third_party/embassy"]
	path = third_party/embassy
	url = https://github.com/embassy-rs/embassy
[submodule "third_party/picoserve"]
	path = third_party/picoserve
	url = https://github.com/konkers/picoserve
